<div class="titlelabel">	
	<p>drake x {{user}}</p>
</div>
<div class="igContainer">
	{{#each photos}}
	<div class="igItem">
			<paper-card enableHover="true" overlayImage="{{url}}" style="width:350px; height:auto;" id="card_{{id}}" caption="{{caption}}" ></paper-card>
		</div>
	</div>
	{{/each}}
</div>

