<div class="loginwrapper">
	<div class="ppwrapper">
		<div id="highkey">Privacy Policy</div>
		<div id="lowkey">
			By using this app you agree to our "terms" (there are none).
			The only information stored is your username for authentification purposes.
			Lastly, I don't care about what you post on social media.
		</div>
	</div>
</div>