@font-face {
	font-family: DrakeNeue;
	src: url("Drake-Neue-Regular.otf") format("opentype");
}

.igContainer {
	position: absolute;
	height: 100%;
	width: 100%;
	column-count: 1;
	column-gap: 40px;
}

.titlelabel {
	font-family: 'DrakeNeue';
	font-size: 5em;
	text-align: center;
}

.igItem {
	width:25%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em
}

.label{
	font-family: 'Open Sans', sans-serif;
	font-size: small;
	color: black;
}

.card{
	column-span: 1;
	min-width: 4em;
	margin: 4em auto; 
	background: white;
	padding: 20px;
	box-shadow: 0 0 50px rgba(0,0,0,.2), 0 0 1px rgba(0,0,0,.3);
}