@font-face {
	font-family: DrakeNeue;
	src: url("Drake-Neue-Regular.otf") format("opentype");
}

.igContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.igItem {
  max-width: 50%;
}

.label{
	font-family: 'Open Sans', sans-serif;
	font-size: small;
	color: black;
	word-break: break-all;
}

.titlelabel {
	font-family: 'DrakeNeue';
	font-size: 5em;
}